*{
    margin: 0;
    padding: 0;
  }
  main {
    position: relative;
    width: 70%;
    left: 70%;
    transform: translateX(-50%);
    margin: 35px 0;
    display: grid;
    grid-template-columns: 465px 320px;
  }
  
  #checkout-title {
    font-family: Mon, Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 15px 0;
  }